


<style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 100%;
    height: 100%;
  }
  
  div.gallery:hover {
    border: 2px solid #777;
  }
  
  div.gallery img {
    padding: 70px;
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 50px;
    text-align: left;
  }

  </style>


<section class="py-5 text-center container">

</section>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="underlay">
          <h2 style="text-align: center; padding: 20px;">Underlay Network</h2>
          <br>
          <img src="assets/underlaytestpng.png" alt="Cinque Terre">
        </a>
        <!-- <div class="desc">The underlay network visualization shows the underlay network of the SFC topology.</div> -->
      </div>    </div>
    <div class="col-sm">
      <div class="gallery">
        <a target="_blank" href="overlay">
          <h2 style="text-align: center; padding: 20px;">Overlay Network</h2>
          <br>
          <img src="assets/overlay2.png" alt="Forest" >
        </a>
        <!-- <div class="desc">The overlay network visualization shows the SF instances running on the SF nodes in the SFC infrastructure. It only shows the involved hosts and virtual links between them. </div> -->
      </div>    </div>
    <div class="col-sm">


      <div class="gallery">
        <a target="_blank" href="sfc">
          <h2 style="text-align: center; padding: 20px;">Service Function Chaining</h2>
          <br>
          <img src="assets/sfc.png" alt="Forest">
        </a>
        <!-- <div class="desc">The SFC visualization part aims to display SF chains by providing data about the SF chains and highlighting a potential SF path in the overlay network visualization.</div> -->
      </div>    </div>
  </div>
</div>



